.posts-list table {
    min-width: 1024px;
}

.posts-actions {
    white-space: nowrap;
}

.create-news-langs {
    display: flex;
    justify-content: flex-end;
}

.create-news-langs > * {
    margin: 0 0 0 10px;
}

.empty-translate {
    opacity: 0.4;
}

.post-link {
    color: #1864a7;
    text-decoration: none !important;
}

.log-content {
    max-height: 75vh;
    overflow: auto !important;
}

del.diffmod {
    background-color: #ff4537;
    color: #fff;
}

ins.diffmod {
    background-color: #26a726;
    color: #fff;
}

.unblock-post {
    text-decoration: none !important;
    border-radius: 33%;
    background-color: #cc0000;
    color: #fff;
    font-size: 10px;
    margin-left: 5px;
    /*position: relative;*/
    /*top: -2px;*/
    padding: 3px 6px;
}

@media (max-width: 991px) {
    .create-news-langs {
        display: flex;
        justify-content: flex-start;
    }

    .create-news-langs > * {
        margin: 20px 10px 0 0;
    }
}